<div class="<%= @monkey.state_class %>">
  <%= @monkey.state_message %>
</div>

<div id="banana-status">
  <div class="<%= @bananas.status_class %>">
    <%= @bananas.count_message %>
  </div>
</div>

<div id="sidebar">
  <div id="favorite-dip-sauces">
    <%= @bananas.favorite_dip_suaces %>
  </div>
</div>